
.header{
    background-image: url(../img/bg.png);
    background-size: cover;
    height: 1084px;
}

.navBarContent{
    padding-top: 10px;
    display: flex;  
    justify-content: center;
    align-items: center; 
}

ul {
    list-style: none;
    display: flex;
  }

li a:visited { 
    color: #DDDDE2; 
} 
li a:hover { 
   text-decoration: none; 
} 

.verticalLine:before{ 
    content: " ";
    background: #DDDDE2;
    width: 2px;
    height: 25px;
    float: left;
    margin: 0 16px 0 16px;
    }

    .navBar{
        margin-left: 250px;
    }
